.candlestick {
  background: rgba(10, 10, 10, 0.85);
}

.candlestick__fullwidth {
  width: 100%;
  padding: 0;
  margin-top: 3rem;
}

.candlestick__card {
  padding: 0;
  overflow: hidden;
}

.candlestick__chart {
  height: 700px;
  width: 100%;
  overflow: hidden;
}

.candlestick__chart iframe {
  height: 100% !important;
  width: 100% !important;
}

@media (max-width: 768px) {
  .candlestick__chart {
    height: 500px;
  }
}
